
<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
    <h3 class="text-center">{{title}}</h3>
    <p class="text-center">
      <img src={{imageUrl}} style="height:200px" /> </p>
    <p class="text-center">
      <label>Price : {{price}}$</label>
      <button class="btn btn-warning"> Edit
        <i class="glyphicon glyphicon-pencil"></i>
      </button>
    </p>
  </div>
</div>